# Virtual environments
venv/
env/
venv.bak/
env.bak/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log

# FastAPI / Uvicorn
local_settings.py
db.sqlite3