on:
  push:
    branches:
      - 'urlshortner-cs'

name: Build and deploy container image to Azure

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main

        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build -f Ada.UrlShortner/Ada.UrlShortner/Dockerfile Ada.UrlShortner/ -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/urlshortner:${{ github.sha }}
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/urlshortner:${{ github.sha }}
        - name: 'Deploy to Azure Container Instances'
          uses: 'azure/aci-deploy@v1'
          with:
            resource-group: ${{ secrets.RESOURCE_GROUP }}
            dns-name-label: ${{ secrets.REGISTRY_SERVER }}-${{ github.run_number }}
            image: ${{ secrets.REGISTRY_LOGIN_SERVER }}/urlshortner:${{ github.sha }}
            registry-login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            registry-username: ${{ secrets.REGISTRY_USERNAME }}
            registry-password: ${{ secrets.REGISTRY_PASSWORD }}
            name: aci-urlshortner
            location: 'central us'
