html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}

    .list-group-item:first-child {
        border-top: none;
    }

    .list-group-item:last-child {
        border-bottom: none;
    }

.btn {
    border-radius: 6px;
}

.form-control {
    border-radius: 6px;
}

.alert {
    border-radius: 8px;
}

.footer {
    background-color: #e9ecef;
}

.text-decoration-line-through {
    text-decoration: line-through;
}